*.o
*.d
*.lst
*.scvd
*.out

sources/*.uvgui.*
sources/generated/
sources/Device/*.uvgui*
sources/Device/Listings/
sources/Device/Objects/
sources/Device/Listings-Debug/
sources/Device/Objects-Debug/
sources/Device/DebugConfig/
