*.o
*.d
*.lst
*.scvd
*.out
*.uvgui*.*
~*

archive.zip

sources/generated/
sources/Device/Listings/
sources/Device/Objects/
sources/Device/Listings-Debug/
sources/Device/Objects-Debug/
sources/Device/DebugConfig/

sources/GTC-3/Listings/
sources/GTC-3/Objects/
sources/GTC-3/Listings-Debug/
sources/GTC-3/Objects-Debug/
sources/GTC-3/DebugConfig/

sources/MS-1/Listings/
sources/MS-1/Objects/
sources/MS-1/Listings-Debug/
sources/MS-1/Objects-Debug/
sources/MS-1/DebugConfig/

sources/TwoSensors/Listings/
sources/TwoSensors/Objects/
sources/TwoSensors/Listings-Debug/
sources/TwoSensors/Objects-Debug/
sources/TwoSensors/DebugConfig/
