@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xl-12 col-xxl-10 px-4 py-5">

    <h3 class="fw-bold mb-3">Sensor parameters display page</h3>

    <div class="row">

        <div class="col-lg-4 col-md-10 text-center text-lg-start">

            <form asp-action="ChangeSchema" class="needs-validation" novalidate="">

                <div class="row">
                    <div class="col-8">
                        <select name="schema" class="form-select" id="schemas"></select>
                        <div class="invalid-feedback">
                            Please select a valid country.
                        </div>
                    </div>

                    <div class="col-4"><button class="btn btn-primary" type="submit">Checkout</button></div>
                </div>
            </form>

            <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
                <div class="list-group-item list-group-item-action py-3 lh-tight">
                    <div class="d-flex w-50 align-items-center justify-content-between">
                        <strong class="mb-1">Temperature:</strong>
                        <small class="text-muted" id="temperature">0 °C</small>
                    </div>
                </div>

                <div class="list-group-item list-group-item-action py-3 lh-tight">
                    <div class="d-flex w-50 align-items-center justify-content-between">
                        <strong class="mb-1">Pressure:</strong>
                        <small class="text-muted" id="pressure">0 кПа</small>
                    </div>
                </div>

                <div class="list-group-item list-group-item-action py-3 lh-tight">
                    <div class="d-flex w-50 align-items-center justify-content-between">
                        <strong class="mb-1">Humidity:</strong>
                        <small class="text-muted" id="humidity">0 г/м³</small>
                    </div>
                </div>

                <div class="list-group-item list-group-item-action py-3 lh-tight">
                    <div class="d-flex w-50 align-items-center justify-content-between">
                        <strong class="mb-1">Dew point:</strong>
                        <small class="text-muted" id="dew point">0 °C</small>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-md-10 col-lg-8">
            <canvas class="mb-3" id="temperature-chart"></canvas>
            <canvas class="mb-3" id="pressure-chart"></canvas>
            <canvas class="mb-3" id="humidity-chart"></canvas>
            <canvas class="mb-3" id="dewPoint-chart"></canvas>
        </div>

    </div>

</div>

<script>

    
</script>